<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5 d-flex">
            <a class="navbar-brand fw-bold" href="#page-top"> <img src="assets/images/Lymn_logo.png" alt=""></a>

            <a class="nav-toggler d-block d-md-none text-dark" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" href="javascript:void(0)"><i class="bi-list bi-close"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="trangchu.html">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="quanao.html">QUẦN ÁO</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="phukien.html">PHỤ KIỆN</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="blog.html">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="lienhe.html">LIÊN HỆ</a></li>
                    <li class="nav-item"><a class="nav-link" href="gioithieu.html">GIỚI THIỆU</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row m-0">
                <div class="col-6 d-flex " >
                    <span>Danh sách yêu thích (0) |</span>
                    <input class="form-input" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm" />
                    <i class="bi-search"></i>
                </div>
                <div class="pb-4 col-6 content-header dropdown" style="padding-right: 0; text-align: right; width:51%">

                    <a href="giohang.html"><span>Giỏ hàng (0)</span></a> | <i class="bi-person-fill"
                        aria-hidden="true"></i><span class="dropdown-toggle" data-bs-toggle="dropdown"> Nguyễn Việt Anh
                        </i></span></span>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                        <a class="dropdown-item" href="dangky.html"><i class="bi bi-person-circle m-r-5 m-l-5"></i>
                            Quản lý tài khoản</a>

                        <a class="dropdown-item" href="dangnhap.html"><i
                                class="bi bi-box-arrow-in-left m-r-5 m-l-5"></i> Đăng xuất</a>
                    </div>
                </div>

            </div>
            <div class="row m-0 bg-light">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item text-dark"><a class="home" href="trangchu.html">Trang chủ</a></li>
                    <li class="breadcrumb-item text-dark"><a class="home" href="quanao.html">Quần áo</a></li>
                    <li class="breadcrumb-item text-dark">Áo</li>
                </ul>
            </div>
        </div>
    </header>

    
    </div>
    
    <section  style="padding: 0 10%; margin-top:3%">
        
        <div class="d-flex " style="width: 100%;font-size: 1vw"> 
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class=" col-3 d-flex" style="padding-left: 6.5%">
                <p class="m-0"> Sắp xếp:</p>
                <select name="paradigm" class="select1" style="width:10vw; ">
                    <option value="2" selected>Giá thấp đến cao</option>
                    <option value="2">Giá cao đến thấp</option>
                </select>
            </div>
            <div class="col-3  d-flex " style="padding-left: 3%" >
                <p class="m-0"> Bộ lọc:</p>
                <select  class="select1" name="paradigm">
                    <option value="2" selected>Sản phẩm bán chạy nhất</option>
                    <option value="2">Giảm giá nhiều nhất</option>
                    <option value="2">Đánh giá nhiều nhất</option>
                </select>
            </div>
        </div>  
        <div class="row d-flex" style="margin-left:0;margin-top:3%">   
            <div class="col-3 imageBox" style="text-align: center" >
                <img class="img1" src="assets/images/image23.png" alt="Snow" style="width:100%">
                <p class="sale-off">-50%</p>
                <div class="hoverImg1">
                    <div class="div-icon " ><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">150.000đ</b><br>
                    <p class="price">300.000đ</p>
                </div>
                
            </div>

            <div class="col-3 imageBox" style="text-align: center">
               
                <img class="img1" src="assets/images/image24.png" alt="Snow" style="width:100%">
                <div class="hoverImg1">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>
                
            </div>
            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image25.png" alt="Snow" style="width:100%">
                <div class="hoverImg1">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>
               
            </div>
            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image26.png" alt="Snow" style="width:100%">
                <div class="hoverImg1">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>
                
            </div>
           
        </div>
        <div class="row d-flex" style="margin-top: 5%; margin-bottom: 3%;margin-left:0;">   
            <div class="col-3 imageBox" style="text-align: center" >
                
                <img class="img1" src="assets/images/image16.png" alt="Snow" style="width:100%">
                <p class="sale-off">-40%</p>
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">180.000đ</b><br>
                    <p class="price">300.000đ</p>
                </div>
                
            </div>

            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image24.png" alt="Snow" style="width:100%">
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>

            </div>

            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image23.png" alt="Snow" style="width:100%">
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>

            </div>
            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image14.png" alt="Snow" style="width:100%">
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>

            </div>
           
        </div>

        <div class="row d-flex" style="margin-top: 5%; margin-bottom: 3%;margin-left:0;">   
            <div class="col-3 imageBox" style="text-align: center" >
                
                <img class="img1" src="assets/images/image15.png" alt="Snow" style="width:100%">
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>
                
            </div>

            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image16.png" alt="Snow" style="width:100%">
                <p class="sale-off">-50%</p>
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">150.000đ</b><br>
                    <p class="price">300.000đ</p>
                </div>

            </div>

            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image17.png" alt="Snow" style="width:100%">
                <p class="sale-off">-10%</p>
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">270.000đ</b><br>
                    <p class="price">300.000đ</p>
                </div>

            </div>
            <div class="col-3 imageBox" style="text-align: center">
                
                <img class="img1" src="assets/images/image25.png" alt="Snow" style="width:100%">
                <div class="hoverImg">
                    <div class="div-icon "><i class="bi bi-cart"></i></div>
                    <div class="div-icon  mt-2"><i class="bi bi-heart"></i></div>
                </div>
                <div class="pt-3">
                    <a href="phukien_detail.html" class="button-more btn-outline-dark">Xem</a><br>
                    <span class="ship-body">Unisex</span><br>
                    <b class="price-prd">199.000đ</b><br>
                </div>

            </div>
           
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item active" ><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link"  href="#">2</a></li>
                <li class="page-item">
                <a class="page-link"  href="#" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            </ul>
        </nav>
           
    </section>

    
    <hr>
    
    <div class="container px-5">
        <div class="row">
            <p class="h2 mb-4 text-center">Đăng ký nhận thông tin mới từ <span class="h1 span-logo"> POVERIA</span></p>
        </div>

        <div class="form-outline mb-4" style="padding: 0 27%">
            <input type="email" id="form1Example1" class="input-footer" placeholder="Nhập email của bạn tại đây">

            <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 88.8px;"></div>
                <div class="form-notch-trailing"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="py-2">
                <input type="checkbox" class="py-4"> <span>Tôi đồng ý với các chính sách và điều khoản</span><Br>
                <div style="padding: 1% 33% ">
                    <button type="button" class="btn btn-dark k">ĐĂNG KÝ</button>
                </div>
            </div>
            
            
        </div>
    </div>

    <div  style="background: #d9d9d9; padding-top: 2%">
        
        <div class="container">
            <div class="row text-center pl-3" style="text-align: justify">
                <div class="col-4">
                    <p  class="h1 span-logo">POVERIA</p>
                </div>
                <div class="col-4">
                    <p class="h5">DANH MỤC</p>
                </div>
                <div class="col-4">
                    <p class="h5">PHỤ KIỆN</p>
                </div>
            </div>

            <div  class="row text-center pl-3" style="text-align: justify">
                <div class="col-4">
                    <p class="content-ft">11A Quang Trung, Hà Đông, Hà Nội</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Áo</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Túi xách</p>
                </div>
            </div>

            <div class="row text-center pl-3">
                <div class="col-4">
                    <p class="content-ft">Số điện thoại: 0984xxxxxx</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Quần</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Thát lưng</p>
                </div>
            </div>

            <div class="row text-center p2-3 pb-5">
                <div class="col-4">
                    <p class="content-ft">Email: Poveria@gmail.com</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Váy</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Mũ</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>