<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5 d-flex">
            <a class="navbar-brand fw-bold" href="#page-top"> <img src="/static/assets/images/Lymn_logo.png" alt=""></a>

            <a class="nav-toggler d-block d-md-none text-dark" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation" href="javascript:void(0)"><i class="bi-list bi-close"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'home' %}">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="quanao.html">QUẦN ÁO</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="phukien.html">ĐIỆN TỬ</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="phukien.html">SÁCH</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="blog.html">BLOG</a></li>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="lienhe.html">LIÊN HỆ</a></li>
                    <li class="nav-item"><a class="nav-link" href="gioithieu.html">GIỚI THIỆU</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row m-0">
                <div class="col-6 d-flex " >
                    <span>Danh sách yêu thích (0) |</span>
                    <input class="form-input" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm" />
                    <i class="bi-search"></i>
                </div>
                <div class="pb-4 col-6 content-header dropdown" style="padding-right: 0; text-align: right; width:51%">

                    <a href="{%url 'view_cart' %}"><span>Giỏ hàng ({{amount}})</span></a> | <i class="bi-person-fill"
                        aria-hidden="true"></i><span class="dropdown-toggle" data-bs-toggle="dropdown"> {{user.username}}
                        </i></span></span>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                        <a class="dropdown-item" href="dangky.html"><i class="bi bi-person-circle m-r-5 m-l-5"></i>
                            Quản lý tài khoản</a>

                        <a class="dropdown-item" href="/"><i
                                class="bi bi-box-arrow-in-left m-r-5 m-l-5"></i> Đăng xuất</a>
                    </div>
                </div>

            </div>
            <div class="row m-0 bg-light">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item text-dark"><a class="home" href="trangchu.html">Trang chủ</a></li>
                    <li class="breadcrumb-item text-dark" ><a class="home" href="/customers/view-cart/">Giỏ hàng</a></li>
                    <li class="breadcrumb-item text-dark">Thông tin nhận hàng</li>
                </ul>
            </div>
        </div>
    </header>
    
    <section  style="padding: 0 10%; margin-top:3%">
        
        <div style="padding:0 5%; margin-top: 1%">
            <form method="POST" action="{% url 'get_receiver' %}" class="form-login" style="width: 100%; margin: 3% 0; background: #EDEDED; border: none">
                {% csrf_token %}
                <p class="h4 mb-4 text-center">Thông tin nhận hàng</p>
                <div class="d-flex">
                    <div class="form-outline mb-4" style="width: 48%;">
                        <label class="form-label h5" for="form1Example2" style="margin-left: 0px;">Tên người nhận hàng</span></label>
                        <input type="text" id="form1Example2" class="form-control" name="name" {{form.name}}

                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 64px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    
                    <div class="form-outline mb-4" style="width: 48%; margin-left: 4%">
                        <label class="form-label h5" for="form1Example2" style="margin-left: 0px;">Số điện thoại </span></label>
                        <input type="text" id="form1Example2" class="form-control"name="phone" {{form.phone}}

                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 64px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    
                </div>
                <label class="form-label h5" for="form1Example2" style="margin-left: 0px;">Địa chỉ nhận hàng </label>
                <div class="d-flex">     
                    <div class="form-outline mb-4" style="width: 23.5%">
                        <label class="form-label h6" for="form1Example2" style="margin-left: 0px;">Số nhà và đường/Thôn </label>
                        <input type="text" id="form1Example2" class="form-control" name="house_number" {{form.house_number}}

                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 64px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <div class="form-outline mb-4" style="width: 23.5%; margin-left: 2%">
                        <label class="form-label h6" for="form1Example2" style="margin-left: 0px;">Phường/Xã  </label>
                        <input type="text" id="form1Example2" class="form-control" name="commune" {{form.commune}}
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 64px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <div class="form-outline mb-4" style="width: 23.5%; margin-left: 2%">
                            <label class="form-label h6" for="form1Example2" style="margin-left: 0px;">Quận/Huyện </label>
                            <input type="text" id="form1Example2" class="form-control" name="district" {{form.district}}

                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 64px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div>
                        <div class="form-outline mb-4" style="width: 23.5%; margin-left: 2%">
                            <label class="form-label h6" for="form1Example2" style="margin-left: 0px;">Thành phố/Tỉnh </label>
                            <input type="text" id="form1Example2" class="form-control" name="city" {{form.city}}
                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 64px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div>
                </div>
                        
                <div class="form-outline mb-4">
                    <label class="form-label h5" for="form1Example2" style="margin-left: 0px;">Ghi chú </span></label>
                    <textarea row="7" type="text" id="form1Example2" class="form-control" name="note" {{form.note}}</textarea>

                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 64px;"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                </div>

                <div  class="h5 mb-4 text-center" style="padding: 0 25%">
                    <button type="submit" class="btn btn-dark ">Xác nhận</button>
                </div>
                
            </form>

        <div>
        
    </section>
    <hr>
    
    <div class="container px-5">
        <div class="row">
            <p class="h2 mb-4 text-center">Đăng ký nhận thông tin mới từ <span class="h1 span-logo"> POVERIA</span></p>
        </div>

        <div class="form-outline mb-4" style="padding: 0 27%">
            <input type="email" id="form1Example1" class="input-footer" placeholder="Nhập email của bạn tại đây">

            <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 88.8px;"></div>
                <div class="form-notch-trailing"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="py-2">
                <input type="checkbox" class="py-4"> <span>Tôi đồng ý với các chính sách và điều khoản</span><Br>
                <div style="padding: 1% 33% ">
                    <button type="button" class="btn btn-dark k">ĐĂNG KÝ</button>
                </div>
            </div>
            
            
        </div>
    </div>

    <div  style="background: #d9d9d9; padding-top: 2%">
        
        <div class="container">
            <div class="row text-center pl-3" style="text-align: justify">
                <div class="col-4">
                    <p  class="h1 span-logo">POVERIA</p>
                </div>
                <div class="col-4">
                    <p class="h5">DANH MỤC</p>
                </div>
                <div class="col-4">
                    <p class="h5">PHỤ KIỆN</p>
                </div>
            </div>

            <div  class="row text-center pl-3" style="text-align: justify">
                <div class="col-4">
                    <p class="content-ft">11A Quang Trung, Hà Đông, Hà Nội</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Áo</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Túi xách</p>
                </div>
            </div>

            <div class="row text-center pl-3">
                <div class="col-4">
                    <p class="content-ft">Số điện thoại: 0984xxxxxx</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Quần</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Thát lưng</p>
                </div>
            </div>

            <div class="row text-center p2-3 pb-5">
                <div class="col-4">
                    <p class="content-ft">Email: Poveria@gmail.com</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Váy</p>
                </div>
                <div class="col-4">
                    <p class="content-ft">Mũ</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts' %}"></script>
</body>

</html>